/*
Author: Dorian Jenkins
Date: 2/8/2024
File Name: styles.css
*/


/* CSS Reset */
body, header, nav, main, footer, h1, img

/*Style Rules for mobile viewport*/

/*Style rules to show mobile class and hide tab-desk class*/

.mobile {
    display: block;
}

.tab-desk {
    display: none;
}
    
/*Style rules for images, body and header*/
body{
    background-color: mintcream;
}

img{
    max-width: 100%;
    display: block;
}

h1{
    color: navy;
}

/*Style rules for navigation section*/
nav, nav ul, nav li,nav li a,

nav{
    background-color:darkturquoise;
}

nav ul{
   list-style-type: none;
    margin: 0;
    text-align: center;
    text-decoration: none;
}

nav li{
    display: inline-block;
    font-size: 1.5em;
    font-family: "Geneva", "Arial", sans-serif;
    font-weight: bold;
    text-decoration: none;
}

nav li a{
    display: block;
    color: purple;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    text-decoration: none;
}

/*Style rules for main*/
main, main p, main ul,
   
// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 300 to 700

.teko-<uniquifier> {
  font-family: "Teko", sans-serif;
  font-weight: 300;
  font-style: normal;
}

main{
    padding: 2%;
    font-family: "Geneva", "Arial", sans-serif;
    background-color: mintcream;
    color: navy;
}

main p{
    font-size: 1.25em;
}

main ul{
    list-style-type: square;
}

footer{
    color: darkblue;
}

#contact {
    text-align: center;
}

.tel-link {
    background-color: purple;
    padding: 2%;
    width: 80%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

.tel-link a {
    color: #f6eee4;
    text-decoration: none;
}

.links a {
    text-decoration: none;
    color: #f6eee4;
    
}

.links {
    background-color: mediumpurple;
    padding: 2%;
    width: 80%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

.link a {
    text-decoration: none;
    color: #f6eee4;
    
}

.link {
    background-color: darkorchid;
    padding: 2%;
    width: 80%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

.footer a {
    text-decoration: none;
}

.round {
    border-radius: 6px;
    
    